*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

/*CSS for header */
header{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    color: #e5e7eb;
}

header img{
    width: 400px;
    height: auto;
}

.header-links, .header-content{
    width: 70%;
}

.header-links{
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
}

.header-links ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 18px;
}

.header-links a, .header-content a{
    color: #e5e7eb;
    text-decoration: none;
}

.logo{
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

h1{
    font-size: 48px;
    color: #f9faf8;
}

.header-content{
    padding-bottom: 48px;
    display: flex;
    gap: 30px;
}

figcaption {
    font-size: 10px;
    text-align: center;
}

.header-text p, h1{
    padding: 10px 0;
}

button{
    background-color: #3882f6;
    padding: 5px 30px;
    color: #f9faf8;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

/*CSS for content*/
#content{
    flex: 1;
}

h2{
    margin: 15px 0;
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.gallery-cards{
    display: flex;
    justify-content: center;
    gap: 48px;
    padding-bottom: 64px;
}

.card{
    width: 250px;
}

.card img{
    width: inherit;
    height: auto;
}

#quote{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

#quote div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
}

.q-text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.q-author{
    font-size: 18px;
    align-self: end;
}

.bold{
    font-weight: bold;
}

#action{
    display: flex;
    justify-content: center;
}

.action-content{
    background-color: #3882f6;
    padding: 40px;
    margin: 32px 0;
    display: flex;
    gap: 30px;
    border-radius: 5px;
    color: #f9faf8;
    width: 70%;
}

.action-content button{
    flex-shrink: 0;
    border: #f9faf8 solid 2px;
    height: 60%;
    align-self: center;
}
